<aside class="user-sidebar">
  <div class="user-brand">Ops Platform</div>

  <nav class="user-nav">
    <a class="{{ 'active' if active_page == 'dashboard' else '' }}" 
       href="{{ url_for('dashboard.user_dashboard') }}">
      Dashboard
    </a>

    <a class="{{ 'active' if active_page == 'my_requests' else '' }}"
    href="{{ url_for('dashboard.user_requests') }}">
    My Requests
  </a>


    <a class="{{ 'active' if active_page == 'tools' else '' }}"
     href="{{ url_for('dashboard.user_integrations') }}">
     Tools
  </a>



    <a class="{{ 'active' if active_page == 'notifications' else '' }}" 
       href="#">
      Notifications
    </a>

    <a class="{{ 'active' if active_page == 'profile' else '' }}" 
       href="{{ url_for('dashboard.user_profile') }}">
      Profile
    </a>

    <a class="{{ 'active' if active_page == 'knowledge_base' else '' }}" 
       href="{{ url_for('dashboard.user_knowledge_base') }}">
      Knowledge Base
    </a>

    <a class="{{ 'active' if active_page == 'settings' else '' }}" 
     href="{{ url_for('dashboard.user_preferences') }}">
    Settings
    </a>


    <form method="POST" action="{{ url_for('auth.logout') }}">
      <button type="submit" class="btn user-logout">Logout</button>
    </form>
  </nav>
</aside>
